name: Checks

on: [push, pull_request]

jobs:

  Job:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: OS packets
        run: | 
          if [ "$RUNNER_OS" == "Linux" ]; then
            echo "deb https://mediaarea.net/repo/deb/ubuntu $(lsb_release --codename --short)-snapshots main" | sudo tee /etc/apt/sources.list.d/mediaarea-snapshots.list
            sudo curl https://repo.mediaarea.net/deb/ubuntu/keyring.gpg -o /etc/apt/trusted.gpg.d/mediaarea-snapshots.gpg
            sudo apt-get update
            sudo apt-get install -y valgrind ffmpeg-ma
          fi
          if [ "$RUNNER_OS" == "macOS" ]; then
            brew update
            brew install coreutils automake
          fi
      - name: FFmpeg
        run: | 
          cd Project/GNU/CLI
          if [ "$RUNNER_OS" == "Linux" ]; then
            cp /usr/bin/ffmpeg-ma ffmpeg
          fi
          if [ "$RUNNER_OS" == "macOS" ]; then
            curl -O https://mediaarea.net/download/snapshots/binary/ffmpeg/latest/FFmpeg_Bin_Latest_Mac_Static_x64.zip 2>/dev/null
            7za e FFmpeg_Bin_Latest_Mac_Static_x64.zip bin/ffmpeg
          fi
      - name: Configure
        run: | 
          cd Project/GNU/CLI
          sh autogen.sh
          ./configure
      - name: Compile
        run: | 
          cd Project/GNU/CLI
          make
      - name: Check files
        run: | 
          cd Project/GNU/CLI
          make clone_testing_files
      - name: Check
        run: | 
          cd Project/GNU/CLI
          make check
